.profileContainer {
  //width: 500px;
  width: 500px;
  padding: 20px;
  @media (max-width: 510px) {
    width: 90vw;
    padding: 8px;
  }

  @media (max-width: 360px) {
    padding: 5px;
  }

  .profileContent {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 510px) {
      flex-direction: column-reverse;
    }


    .profileImage {
      position: relative;

    }


    .profileData {
      display: flex;
      flex-direction: column;
      @media (max-width: 510px) {
        align-items: center;
      }



      .email {
        border-bottom: 1px solid #b6b5b5;
      }
    }
  }

}

.profileImage img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  transition: all ease-in 0.5s;
}

.profileImage:hover img {
  opacity: 0.4;
}

.profileImage:hover .overlay {
  opacity: 1;
}

/*.profileImage {
  img:hover {
    opacity: 0.4;
  }
}*/

.overlay {
  cursor: pointer;
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.mobileVersion {
  font-size: 18px;
  cursor: pointer;
  margin-bottom: 15px;
  @media (min-width: 769px) {
    display: none;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

.photoData {
  display: flex;
  flex-direction: column;
  align-items: center;
}